@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*  Ab hier zählt's */

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #fffaf0;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;
    color: #fffaf0;
}

/* Headsection and Navbar*/

header {
    height: 90px;
    width: 100%;
    background-color: #87cefa;
}

#logo {
    color: black;
    font-family: 'Ubuntu';
    font-size: 250%;
    padding: 20px 30px;
    text-decoration: none;
    float: left;
}

#logo img {
    vertical-align: bottom;
}

#nav-links {
    list-style-type: none;
}

#nav-links a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}    

#nav-links>li {
    font-size: 150%;
    margin-right: 50px;
    margin-top: 30px;
    float: right;
}

/* First-Impression-Image and -text*/

#starter-outer {
    height: 660px;
    width: 100%;
    overflow: hidden;
    background-color: #1e00ff;
}

#starter-img {
    height: 600px;
    width: 95%;
    background: url(../images/TURTLE_main.webp) no-repeat center center;
    margin: 30px auto;
}

#starter-text {
    width: 350px;
    height: 120px;

    padding-top: 20px;
    padding-left: 20px;

    background-color: rgba(30, 0, 255, .2);

    top: 200px;
    right: 150px;
    position: absolute;
}

#starter-text > h2 {
    text-align: center;
    padding-bottom: 10px;
}

/* Triple Main */

#triple-outer {
    background-color: #c2b280;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

article {
    background-color: #c2b280;
    text-align: center;
    width: 30%;
    height: 460px;
    padding-top: 20px;
}

article:hover {
    border: 5px solid darkgrey;
    margin: -5px;
}

article > h2 {
    padding-top: 10px;
}

article > p{
    padding: 20px;
}


/* Register */

#register {
    height: 500px;
    background-color: #1e00ff;
}


/* Footer */

#footer-outer {
    height: 230px;
    width: 100%;
    background-color: #c2b280;
    overflow: hidden;
}

#footer-img {
    height: 150px;
    width: 95%;
    background: url(../images/Strand3.webp) no-repeat center center;
    margin: 30px auto;
}

#footer-text {
    width: 90%;
    height: 50px;
    padding-top: 30px;
    padding-left: 30px;
    top: 20px;
    left: 20px;
    text-align: center;
}

.support {
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.support>li {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 150%;
    letter-spacing: 5px;
    padding-left: 70px;
}

.support a:hover {
    color: #1e00ff;
}

.support a {
    text-decoration: none;
    color: #fffaf0;
}